
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Casos de Uso - ML Supervisado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h1>Bienvenidos a Casos de Uso de Machine Learning</h1>
            <p>Explora los diferentes sectores donde el aprendizaje supervisado está transformando el mundo.</p>
            
            <div class="menu">
                <a href="/Salud" class="btn">
                    <img src="{{ url_for('static', filename='salud.jpg') }}" alt="Salud">
                    <span>Salud</span>
                </a>
                <a href="/Ciberseguridad" class="btn">
                    <img src="{{ url_for('static', filename='Ciberseguridad.png') }}" alt="Ciberseguridad">
                    <span>Ciberseguridad</span>
                </a>
                <a href="/Retail" class="btn">
                    <img src="{{ url_for('static', filename='Retail.png') }}" alt="Retail">
                    <span>Retail</span>
                </a>
                <a href="/Transporte" class="btn">
                    <img src="{{ url_for('static', filename='transporte.png') }}" alt="Transporte">
                    <span>Transporte</span>
                </a>
            </div>
        </div>
    </div>
</body>

<!-- Sección de Referencias -->
<div class="references">
  <h3>📖 Referencias</h3>
  <p>Springer. (2024), <i>Redes Neuronales Convolucionales</i><br>
     <a href="https://link.springer.com/article/10.1007/s11831-023-09899-9" target="_blank">
       https://link.springer.com/article/10.1007/s11831-023-09899-9
     </a>
  </p>
  <p>La verdad Hidalgo. (2025), <i>Aplicaciones machine Learning</i><br>
     <a href="https://laverdadhidalgo.com/inteligencia-artificial-en-accion-parte-4/" target="_blank">
       https://laverdadhidalgo.com/inteligencia-artificial-en-accion-parte-4/
     </a>
  </p>
  <p>IBM. (2023), <i>Máquinas de soporte</i><br>
     <a href="https://www.ibm.com/es-es/think/topics/support-vector-machine" target="_blank">
       https://www.ibm.com/es-es/think/topics/support-vector-machine
     </a>
  </p>
  <p>Darktrace. (2025), <i>Darktrace</i><br>
     <a href="https://www.darktrace.com/es" target="_blank">
       https://www.darktrace.com/es
     </a>
  </p>
  <p>Digitalent. (2025), <i>Casos de uso</i><br>
     <a href="https://www.isdi.education/es/blog/walmart-ia-personalizacion-inventario" target="_blank">
       https://www.isdi.education/es/blog/walmart-ia-personalizacion-inventario
     </a>
  </p>
</div>


</html>
